<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8">
        <title>Anagram</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'anagram/style.css' %}">
    </head>
    <body>
        <h1>Anagrams for word: {{ word.wordText }}</h1>
        <div class="box">
            <ul id="anagramList">
                {% for anagram in anagrams %}
                <li>
                    {{ anagram.anagramText }}
                </li></br>
                {% endfor %}
            </ul>
        </div>
        <div id="returnLink">
            <a href="{% url 'anagram:index' %}">Return</a>
        </div>
    </body>
</html>
